!!! 5
html
	head
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		style
			.menu{
				width: 200px;
				margin: auto;
			}
			.menu a{
				margin: 10px
			}
	body
		.menu
			a(href="/") root
			a(href="/list") list
			a(href="/list/1") list item
		.container.main
			.list-item!= item
			.items-list!= itemsList
			.index!= index
		script(src="http://code.jquery.com/jquery-1.9.1.min.js")
		script(src="/js/bundle.js")