!!! 5
html
	head
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		- each style in styles
			link(rel="stylesheet", href=style)
	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					a.brand(href="/") seo-friendly stuff
					.nav-collapse.collapse
						ul.nav
							li
								a(href="https://github.com/oroce/") code
							li
								a(href="https://twitter.com/oroce") @oroce
							li
								a(href="https://github.com/oroce") oroce on GitHub

		.container.main
			!= body
			hr
			.footer
				p Built lovely in Budapest <3
		- each script in scripts
			script(src=script)